.feinman__link {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 48px;

  color: #000;
  text-decoration: none;
  font-size: 36px;
  line-height: 51px;
  font-weight: 400;
  transition: opacity .5s;
}

.feinman__link:hover,
.feinman__link:focus {
  opacity: 0.5;
}
